@font-face {
  font-family: 'MonoLisa';
  font-style: normal;
  font-weight: 400;
  src: local('MonoLisa'), url('./assets/fonts/MonoLisa-Regular.woff') format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}
